.thumbnail {
  background-color: transparent;
  border: 0;
}

.caption > p {
  text-align: center;
  font-size: 36px;
}

.caption > p.description {
  text-align: center;
  font-size: 24px;
  color: white;
}

div > p.price {
  font-size: 30px;
  text-align: left;
  color: white;
  padding-left: 0;
  padding-right: 0;
  -webkit-transform: translate(35%, 20%);
          transform: translate(35%, 20%);
}

span {
  color: white;
}

.control {
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
}

.add-to-cart, button.add-to-cart:focus {
  margin-top: 0;
  font-size: 28px;
  border-width: 3px;
}
