.big {
  font-size: 76px;
}

.small {
  font-size: 24px;
}

.medium {
  font-size: 36px;
}

.yellow-text {
  color: #FFC401;
}

span.yellow-text:hover {
  color: white;
}

.text-centered {
  text-align: center;
}

.error {
  -webkit-box-shadow: 0px 1px 11px 4px #FFC401;
          box-shadow: 0px 1px 11px 4px #FFC401;
}

.success {
  color: lightgreen;
}

.active {
  color: #FFC401;
}

.btn-default, .btn-default:focus {
  background-color: transparent;
  border-color: #FFC401;
  border-width: 6px;
  border-radius: 0;
  color: #FFC401;
  font-size: 36px;
  outline: 0;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 30px;
}

.btn-default:hover, .btn-default:active:focus {
  border-color: white;
  background-color: transparent;
  color: white;
}

.icon-medium {
  font-size: 48px;
}

.amount {
  font-size: 48px;
  padding-left: 6px;
  padding-right: 12px;
}

.fa-minus-square-o:hover, .fa-plus-square-o:hover {
  color: white;
}

@font-face {
  font-family: Justtellmewhat;
  src: url("../fonts/Justtellmewhat.eot") format("eot"), url("../fonts/Justtellmewhat.woff2") format("woff2"), url("../fonts/Justtellmewhat.woff") format("woff"), url("../fonts/Justtellmewhat.ttf") format("truetype"), url("../fonts/Justtellmewhat.svg") format("svg");
  font-weight: 900;
}

body {
  background-image: url("../img/background.png");
  font-family: Justtellmewhat;
  color: white;
  font-size: 16px;
  font-style: italic;
  background-size: contain;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
}

#profile {
  position: relative;
  left: 88%;
  bottom: 12em;
}

#logo {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.center-block {
  float: none;
}

#cart, #auth {
  float: right;
  position: relative;
  bottom: 10.5em;
  right: 8.1em;
}

#auth {
  right: 0.1em;
}

#logout {
  position: relative;
  left: 94%;
  bottom: 15.2em;
}

.navbar, .navbar-default {
  background-color: transparent;
  border-width: 0px;
}

.item-text {
  font-size: 36px;
  color: white;
}

.nav-item {
  padding: 0 2.185em;
}

.navbar-collapse {
  margin: 35px 0 0 2.1875em;
}

.yellow-text {
  color: #FFC401;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-brand {
  display: none;
}

.navbar .navbar-collapse {
  text-align: center;
  margin: 35px 0 0 2.185em;
}

footer {
  background-image: url("../img/background.png");
  height: 262px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-top: 90px;
  background-size: inherit;
}

footer > img {
  -webkit-filter: inherit;
          filter: inherit;
  padding-top: 40px;
}

footer > p {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 100;
}

.badge {
  position: relative;
  font-size: 18px;
  left: 87%;
  bottom: 9.5em;
  background-color: #FFC401;
}

.left-60 {
  margin-left: 60px;
  font-size: 18px;
  max-width: 500px;
}

.media-left > img {
  -webkit-filter: drop-shadow(12px 19px 3.4px #222);
  filter: drop-shadow(12px 19px 3.4px #222);
}
