@import 'variables';

.border {
	border-style: solid;
	border-width: 63px 61px 57px 65px;
	-moz-border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	-webkit-border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	-o-border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	height: 690px;
	width: 888px;
}
.owl-prev i, .owl-next i {
	transform : scale(7,7); 
}
.owl-prev, .owl-next {
	position: absolute;
}
.owl-prev {
	top: 50%;
	left: 5%;
}
.owl-prev:focus,.owl-next:focus {
	outline:0;
}
.owl-next {
	top: 50%;
	right: 5%;
}
.image-description {
	color: white;
	font-size: 76px;
	position: absolute;
	text-align: center;
	top: 27%;
	left: 30%;
}

.ingridients-container {
	margin: auto auto;
	height: 0;
}
#coriander {
	position:relative;
	top: -40em;
	left: -2.5em;
	-webkit-filter: drop-shadow(10px 10px 2px #222);
    filter: drop-shadow(10px 10px 2px #222);
	z-index: 2;	
}
#tomato {
	position:relative;
	bottom: 15em;
    left: 45em;
	-webkit-filter: drop-shadow(-5px 5px 2px #222);
    filter: drop-shadow(-5px 5px 2px #222);
	z-index: 2;
}
#slide-3 {
	top:32%;
	left:45%;
}
.divider {
	margin: 40px auto 0px auto;
}

.row > h1 {
	margin-top: -15px;
	margin-bottom: 5px;
}

.row > p {
	text-align: center;
	font-size: $smallFontSize;
}

#parmesan {
	position:relative;
	top: -23em;
	left: -3.5em;
	-webkit-filter: drop-shadow(10px 10px 2px #222);
    filter: drop-shadow(10px 10px 2px #222);
	z-index: 2;	
}
#pepper {
	position:relative;
	bottom: 14em;
    left: 42.5em;
	-webkit-filter: drop-shadow(-5px 5px 2px #222);
    filter: drop-shadow(-5px 5px 2px #222);
	z-index: 2;
}
#fork {
	position: relative;
    right: 5%;
    margin-bottom: 127px;
    margin-right: 45px;
}
#garlic {
	position: relative;
    left: 58.1%;
    top: 17em;
}
.chalk-text {
	text-align: center;
	font-size: $smallFontSize;
    width: 35%;
}
div > .chalk-text:nth-of-type(1){
    transform: translate(33em,-5em);
}
div > .chalk-text:nth-of-type(2){
    transform: translate(0.7em,3.4em);
    width: 30%;
}
#flour {
    position: relative;
    right: 5%;
    top: 1em;
}