@import 'variables';
@font-face {
    font-family: Justtellmewhat;
    src: url("../fonts/Justtellmewhat.eot") format("eot"),
		 url("../fonts/Justtellmewhat.woff2") format("woff2"),
		 url("../fonts/Justtellmewhat.woff") format("woff"),
		 url("../fonts/Justtellmewhat.ttf") format("truetype"),
		 url("../fonts/Justtellmewhat.svg") format("svg");
	font-weight: 900;
}
body {
	background-image: url('../img/background.png');
	font-family: Justtellmewhat;
	color: white;
	font-size: 16px;
	font-style: italic;
	background-size: contain;
}
a:hover, a:visited, a:focus{
	text-decoration: none;
}
span.yellow-text:hover {
	color: white;
}
.big{
	font-size: $fontSize;
}
.small{
	font-size: $smallFontSize;
}
.medium {
	font-size: $mediumFontSize;
}
#profile{
	position: relative;
    left: 92%;
    bottom: 12em;
}
#logo {
	display: block;
	margin: 0 auto;
	margin-top: 60px;
}
.center-block {
	float: none;
}
#cart {
	float: right;
	position: relative;
	bottom: 12em;
	right: 6.1em;
}
.navbar, .navbar-default {
	background-color: transparent;
	border-width: 0px;
}
.item-text {
	font-size: 36px;
	color: white;
}
.nav-item {
	padding: 0 2.185em;
}
.navbar-collapse {
	margin: 35px 0 0 2.1875em;
}
.border {
	border-style: solid;
	border-width: 63px 61px 57px 65px;
	-moz-border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	-webkit-border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	-o-border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	border-image: url('../img/wood-frame.png') 63 61 57 65 round;
	height: 690px;
	width: 888px;
}
.owl-prev i, .owl-next i {
	transform : scale(7,7); 
}
.owl-prev, .owl-next {
	position: absolute;
}
.owl-prev {
	top: 50%;
	left: 5%;
}
.owl-prev:focus,.owl-next:focus {
	outline:0;
}
.owl-next {
	top: 50%;
	right: 5%;
}
.image-description {
	font-size: 76px;
	position: absolute;
	text-align: center;
	top: 27%;
	left: 30%;
}
.yellow-text {
	color: $yellow-color;
}

.ingridients-container {
	margin: auto auto;
	height: 0;
}
#coriander {
	position:relative;
	top: -40em;
	left: -2.5em;
	-webkit-filter: drop-shadow(10px 10px 2px #222);
    filter: drop-shadow(10px 10px 2px #222);
	z-index: 2;	
}
#tomato {
	position:relative;
	bottom: 15em;
    left: 45em;
	-webkit-filter: drop-shadow(-5px 5px 2px #222);
    filter: drop-shadow(-5px 5px 2px #222);
	z-index: 2;
}
#slide-3 {
	top:32%;
	left:45%;
}
.divider {
	margin: 40px auto 0px auto;
}
.row > h1 {
	margin-top: -15px;
	margin-bottom: 5px;
}
.text-centered {
	text-align: center;
}
.row > p {
	text-align: center;
	font-size: $smallFontSize;
}
.btn-default, .btn-default:focus {
	background-color: transparent;
	border-color: $yellow-color;
	border-width: 6px;
	border-radius: 0;
	color: $yellow-color;
	font-size: $mediumFontSize;
	outline: 0;
	padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    padding-bottom: 0;
	margin-top: 30px;
}
 .btn-default:hover,.btn-default:active:focus {
	border-color: white;
	background-color: transparent;
	color: white;
}
#parmesan {
	position:relative;
	top: -23em;
	left: -3.5em;
	-webkit-filter: drop-shadow(10px 10px 2px #222);
    filter: drop-shadow(10px 10px 2px #222);
	z-index: 2;	
}
#pepper {
	position:relative;
	bottom: 14em;
    left: 42.5em;
	-webkit-filter: drop-shadow(-5px 5px 2px #222);
    filter: drop-shadow(-5px 5px 2px #222);
	z-index: 2;
}
#fork {
	position: relative;
    right: 5%;
    margin-bottom: 127px;
    margin-right: 45px;
}
#garlic {
	position: relative;
    left: 58.1%;
    top: 17em;
}
.chalk-text {
	text-align: center;
	font-size: $smallFontSize;
    width: 35%;
}
div > .chalk-text:nth-of-type(1){
    transform: translate(33em,-5em);
}
div > .chalk-text:nth-of-type(2){
    transform: translate(0.7em,3.4em);
    width: 30%;
}
#flour {
    position: relative;
    right: 5%;
    top: 1em;
}
.form-group > input,.form-group > input:active,
.form-group > input:focus, 
.form-group > textarea,
.form-group > textarea:focus {
    background-color: transparent;
    border-radius: 0;
    border-width: 2px;
    border-color: white;
    color: white;
    outline: 0;
    appearance: none;
}
.email{
	position: relative;
	left: 15px;
}
#message {
	max-width: 568px;
    width: 556px;
    max-height: 250px;
    height: 126px;
}
.form-group > label,form > div:nth-child(1) > div:nth-child(5) > label{
	text-align: left;
}
.form-group {
	margin-bottom: 0;
	margin-top: 0;
}
.border-wrapper{
	position: absolute;
	transform: translate(40em,-2em);
	border-style: solid;
	border-width: 42px 40px 40px 43px;
	-moz-border-image: url('../i40mg/wood-frame.png') 42 40 40 43 round;
	-webkit-border-image: url('../img/wood-frame.png') 42 40 40 43 round;
	-o-border-image: url('../img/wood-frame.png') 42 40 40 43 round;
	border-image: url('../img/wood-frame.png') 42 40 40 43 round;
}
iframe{
	filter: grayscale(100%);
}
footer{
	background-image: url('../img/background.png');
	height:262px;
	filter: invert(100%);
	margin-top: 90px;
	background-size: inherit;
}
footer > img {
	filter: inherit;
	padding-top: 40px; 
}
footer > p {
	text-align: center;
	padding-top: 20px;
    font-size: 16px;
    font-weight: 100;
}
input:focus {
	color: white;
	opacity: 1;
}
.form-inline {
	margin-bottom:20px;
	padding:0;
}
.form-inline > div {
	padding-right:0;
	padding-left:0;
}
.form-inline > div > input {
	width: 100% !important;
}
.navbar {
	text-align: center;
	color: white;
}
div > nav > ul > li >a:focus, 
div > nav > ul > li >a, 
div > nav > ul > li >a:visited,
div > nav > ul > li >a:hover {
	color: white;
	background-color: transparent !important;
}
nav:nth-child(6) > ul > li {
	padding: 0 20px;
}
.orders {
	margin-bottom: 40px;
	margin-top: 20px;
	div,img,h1,h2{
		display:inline-block;
		vertical-align: middle;
	}
}
.header {
	width: 79%;
}
.prices {
	width:100%;
}
.error {
	box-shadow: 0px 1px 11px 4px $yellow-color;
}
.success{
	color: lightgreen;
}
.fa-minus-square-o:hover, .fa-plus-square-o:hover {
	color:white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.active {
	color: $yellow-color;
}

@import 'small-devices';